@import url(http://fonts.googleapis.com/css?family=Raleway|Maven+Pro);
/* Centering of the page */
/* line 4, ../scss/button.scss */
html {
  background-color: crimson;
  /*Grid Layout for different divices*/
  /* Desktop version:
     we set the body width to 768px. */
  /* Large Desktop version:
     we set the body width to 1024px. */
}
/* line 7, ../scss/button.scss */
html body {
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway;
}
/* line 12, ../scss/button.scss */
html body .main p {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}
/* line 20, ../scss/button.scss */
html body .content #featureButton {
  margin: 5% 0%;
}
/* line 22, ../scss/button.scss */
html body .content #featureButton button {
  position: relative;
  font-size: 1em;
  font-family: 'Maven Pro';
  padding: 1% 20%;
  font-size: 2em;
  border-radius: 1em;
  margin-left: 30%;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 5px 0px 0px #508082;
  -moz-box-shadow: 0px 5px 0px 0px #508082;
  box-shadow: 0px 5px 0px 0px #508082;
  border: none;
  color: black;
  transition-property: color;
  transition-duration: .5s;
}
/* line 39, ../scss/button.scss */
html body .content #featureButton button:hover {
  top: -1px;
  -webkit-box-shadow: 0px 6px 0px 0px #508082;
  -moz-box-shadow: 0px 6px 0px 0px #508082;
  box-shadow: 0px 6px 0px 0px #508082;
  border: none;
  color: white;
  transition-property: color top;
  transition-duration: .2s;
}
/* line 49, ../scss/button.scss */
html body .content #featureButton button:active {
  top: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px #508082;
  -moz-box-shadow: 0px 3px 0px 0px #508082;
  box-shadow: 0px 3px 0px 0px #508082;
  border: none;
}
/* line 56, ../scss/button.scss */
html body .content #featureButton button:focus {
  outline: 0;
}
/* line 59, ../scss/button.scss */
html body .content .button_grid {
  position: relative;
}
/* line 61, ../scss/button.scss */
html body .content .button_grid .block {
  padding: 1em 0em;
}
/* line 63, ../scss/button.scss */
html body .content .button_grid .block button {
  position: relative;
  left: 30%;
  font-family: 'Maven Pro';
  padding: 10% 10%;
}
@media (min-width: 480px) {
  /* line 77, ../scss/button.scss */
  html body {
    width: 480px;
  }
  /* line 78, ../scss/button.scss */
  html .m_width50 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 84, ../scss/button.scss */
  html body {
    width: 768px;
  }
  /* line 85, ../scss/button.scss */
  html .t_width100 {
    width: 100%;
  }
  /* line 86, ../scss/button.scss */
  html .t_width50 {
    width: 50%;
  }
  /* line 87, ../scss/button.scss */
  html .t_width75 {
    width: 75%;
  }
  /* line 88, ../scss/button.scss */
  html .t_width66 {
    width: 66%;
  }
  /* line 89, ../scss/button.scss */
  html .t_width25 {
    width: 25%;
  }
  /* line 90, ../scss/button.scss */
  html .t_width33 {
    width: 33%;
  }
}
@media (min-width: 1024px) {
  /* line 95, ../scss/button.scss */
  html body {
    width: 1024px;
  }
  /* line 96, ../scss/button.scss */
  html .width100 {
    width: 100%;
  }
  /* line 97, ../scss/button.scss */
  html .width50 {
    width: 50%;
  }
  /* line 98, ../scss/button.scss */
  html .width75 {
    width: 75%;
  }
  /* line 99, ../scss/button.scss */
  html .width66 {
    width: 66%;
  }
  /* line 100, ../scss/button.scss */
  html .width25 {
    width: 25%;
  }
  /* line 101, ../scss/button.scss */
  html .width33 {
    width: 33%;
  }
}
