@import url(http://fonts.googleapis.com/css?family=Raleway|Maven+Pro);

      /* Centering of the page */
  html{
        background-color: crimson;
      
  body {
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    .main{
        p{
          margin: 0 auto;
          text-align: center;
          font-size: 3em;
          margin-top: 2em;
        }  
      }
    .content{ 
    #featureButton {
      margin: 5% 0%;
      button{
        position: relative;
        font-size: 1em;
        font-family: 'Maven Pro';
        padding: 1% 20%;
        font-size: 2em;
        border-radius: 1em;
        margin-left:30%;
        background-color: cadetblue;
        -webkit-box-shadow: 0px 5px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 5px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 5px 0px 0px rgb(80, 128, 130);
        border: none;
        color: black;
        transition-property: color;
        transition-duration: .5s;
      }
      button:hover{
        top:-1px;
        -webkit-box-shadow: 0px 6px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 6px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 6px 0px 0px rgb(80, 128, 130);
        border: none;
        color: white;
        transition-property: color top;
        transition-duration: .2s;
      }
      button:active{
        top:3px;
        -webkit-box-shadow: 0px 3px 0px 0px rgb(80, 128, 130);
        -moz-box-shadow:    0px 3px 0px 0px rgb(80, 128, 130);
        box-shadow:         0px 3px 0px 0px rgb(80, 128, 130);
        border: none;
      }
      button:focus {outline:0;}
    }

    .button_grid{
      position: relative;
        .block{
          padding: 1em 0em;
          button{
            position: relative;
            left:30%;
            font-family: 'Maven Pro';
            padding:10% 10%;
          }
        }
      }
   
   }
  }
  
/*Grid Layout for different divices*/
  @media (min-width: 480px) {
    body { width: 480px; }
    .m_width50{ width: 50%; }

  }
  /* Desktop version:
     we set the body width to 768px. */
  @media (min-width: 768px) {
      body { width: 768px; }
      .t_width100{ width: 100%; }
      .t_width50{ width: 50%; }
      .t_width75{ width: 75%; }
      .t_width66{ width: 66%; }
      .t_width25{ width: 25%; }
      .t_width33{ width: 33%; }
    }
  /* Large Desktop version:
     we set the body width to 1024px. */
  @media (min-width: 1024px) {
    body { width: 1024px; }
      .width100{ width: 100%; }
      .width50{ width: 50%; }
      .width75{ width: 75%; }
      .width66{ width: 66%; }
      .width25{ width: 25%; }
      .width33{ width: 33%; }
  		}

}